.col-2{
  margin-top: 73px;
  padding-right: 0%;
}
.col{
  padding-left: 0%;
}
.c {
  border: 1px solid black;
}
.card{
  border: 1px solid black;
  border-radius: 0px;
}

.ribbon3 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  position: absolute;
  color: #fff;
  left: -8px;
  top: 20px;
  background: #59324c;
}
.ribbon3:before,
.ribbon3:after {
  content: "";
  position: absolute;
}
.ribbon3:before {
  height: 0;
  width: 0;
  top: -8.5px;
  left: 0.1px;
  border-bottom: 9px solid black;
  border-left: 9px solid transparent;
}
.ribbon3:after {
  height: 0;
  width: 0;
  right: -14.5px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 15px solid #59324c;
}
.tbody{
  border:1 px solid black
  
  
}