<div class="container">
  <div class="container">TABLE</div>
  <div class="row">
    <div class="col-2">
      <div
        class="card"
        *ngFor="let obj of columnHeaders"
        [ngStyle]="{ 'height.px': calculateHeight(columnHeaders.indexOf(obj)) }"
      >
        <div class="ribbon3">{{ obj }}</div>
      </div>
    </div>

    <div class="col">
      <div
        class="card"
        *ngFor="let obj of properties"
        [ngStyle]="{ 'height.px': calculateHeight(properties.indexOf(obj)) }"
      >
        <div class="card-body">
          <div class="container">
            <div class="row" *ngFor="let i of obj">
              <div class="col">
                <div class="row">
                  <div class="col c">{{ i.rowHeader }}</div>
                  <div class="col c">{{ i.item1 }}</div>
                  <div class="col c">{{ i.item2 }}</div>
                  <div class="col c">{{ i.item3 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
